.activitiesContainer {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

/* Leaves a this clear line between the gradient and bordering edge of container :(  */
/* .activitiesContainer:before {
    content: '';
    position: absolute;
    top: .01;
    background: linear-gradient(to top, transparent, rgba(183, 198, 210, 0.95));
    height: 5%;
    width: 97%;
  } */

.activitiesContainer::-webkit-scrollbar-track {
    border: 1px solid rgba(75, 77, 75, 0.587);
    padding: 2px 0;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 0.9);
}

.activitiesContainer::-webkit-scrollbar {
    width: 10px;
}

.activitiesContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(75, 77, 75, 0.587);
    border: 1px solid rgba(228, 228, 228, 0.9);
}

.activityButton {
    background-color: rgba(75, 77, 75, 0.587);
    /* background-color: rgba(83, 130, 83, 0.756); */
    margin: .25em .25em;
    padding: .5em .5em;
    border-radius: 25px;

    border-radius: 25px;
    border-color: rgba(228, 228, 228, 0.9);
    border-width: 2px;
    border-style: solid;
}

.title {
    text-align: left;
    margin: .5em .5em;
    font-size: larger;
    font-weight: 700;
}

.titleHr {
    border: 1px solid white;
}